.picker {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    justify-items: stretch;
    grid-gap: 1rem;
}

.individual {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .5rem;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
    border: .5rem solid transparent;
}

.individual.selected {
    border-color: #369;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    margin-right: 0.5rem;
}

.gene {
    display: inline-block;
    font-size: .5rem;
    padding: .5rem;
}

.gene.disabled {
    opacity: 0.5;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    z-index: 1;
    padding: .5rem;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
}
